.item-container { 
      padding: 1rem;
      background-color: #FFF;
      margin-top: 10px;
      margin-bottom: 30px;
      box-shadow: 5px 5px 5px #aaaaaa;
}

.row {
      padding: 5px 20px;
}

h4 {
      font-weight: bold;;
}

p { 
      white-space: pre-line;
}